.form-container{
    height: 9vh;
    width: 80%;

    margin-top: 15px;
    margin-bottom: 25px;

    background-color: plum;
}

.form-div{
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background-color: pink;
}

#add-btn{
    height: 40%;
    width: 5%;
    background-color: greenyellow;
}

.input-field{
    height: 30%;
    width: 14%;
}